.G_SR_Only {
   border: 0;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
}

.G_Article_Wrapper {
   max-width: var(--article-container);
   margin: var(--header-height) auto 0 auto;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
}

.G_Page_Top_Spacing {
   padding-top: var(--s-7);

   @media (--tablet-to) {
      padding-top: var(--s-4);
   }
}
