.SR_Only {
   border: 0;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
}

.Article_Wrapper {
   max-width: var(--article-container);
   margin: var(--header-height) auto 0 auto;
   padding-top: 3rem;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;

   @media (max-width: 910px) {
      padding-top: 2rem;
   }
}
