html {
   background-color: var(--bg);
   color: var(--fg);
}

html[data-theme='dark'] {
   --accent: hsl(142 75% 53%);

   --fg: hsl(142, 29%, 80%);
   --bg: hsl(142 10% 12%);

   --divider: hsla(141, 79%, 85%, 0.3);
   --divider-light: hsl(141, 10%, 25%);

   --bg-elv: hsl(142 16% 24%);
   --bg-alpha: hsla(159, 21%, 21%, 0.4);

   --shadow-accent: 0 0 0 1px var(--accent);
   --shadow-accent-mid: 0 0 0 1px hsla(142, 75%, 53%, 0.5);
}

html[data-theme='light'] {
   --accent: hsl(142 75% 35%);

   --fg: hsl(142 16% 24%);
   --bg: hsl(138, 76%, 97%);

   --divider: hsla(159, 21%, 21%, 0.4);
   --divider-light: hsl(150, 2%, 83%);

   --bg-elv: #fff;
   --bg-alpha: hsla(0, 0%, 100%, 0.32);

   --shadow-accent: 0 0 0 2px var(--accent);
   --shadow-accent-mid: 0 0 0 2px hsla(142, 75%, 35%, 0.5);
}
