@font-face {
   font-family: 'Basier Square';
   src: url('/basier-square-bold-webfont.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
   font-display: optional;
}

@font-face {
   font-family: 'Basier Square';
   src: url('/basier-square-regular-webfont.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: optional;
}

html {
   font-family: 'Basier Square', system-ui, Arial, sans-serif;
}
