:root {
   --easing: 100ms ease-out;
   --page-margin: var(--s-2);
   --article-container: 1240px;
   --header-height: 80px;
   --header-icon-size: 28px;
   --footer-top-margin: var(--s-8);
}

body {
   padding: 0 var(--page-margin) var(--page-margin) var(--page-margin);
   overflow-x: hidden;
   touch-action: pan-y;
   position: relative;
}

.G_Transitions {
   transition: background-color var(--easing);

   & h1,
   & h1 > span,
   & h2,
   & p,
   & span,
   & strong,
   & a {
      transition: color var(--easing);
   }
}
