:root {
   --ease-fast: 100ms ease-out;

   --page-gutter: var(--s-2);
   --container-max: 1240px;

   --header-height: 80px;
   --header-icon: 28px;

   --footer-space: var(--s-12);
}

@media (--tablet-to) {
   :root {
      --header-height: 72px;
      --footer-space: var(--s-8);
   }
}

body {
   padding: 0 var(--page-gutter) var(--page-gutter);
   overflow-x: hidden;
   touch-action: pan-y;
   position: relative;
   min-height: 100dvh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

#content {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.g-transitions {
   transition: background-color var(--ease-fast);

   & h1,
   & h1 > span,
   & h2,
   & p,
   & span,
   & strong,
   & a {
      transition: color var(--ease-fast);
   }
}
