@define-mixin basier-square {
   font-family: 'Basier Square';
   font-style: normal;
   font-display: optional;
}

@font-face {
   @mixin basier-square;
   src: url('/basier-square-bold-webfont.woff2') format('woff2');
   font-weight: 700;
}

@font-face {
   @mixin basier-square;
   src: url('/basier-square-medium-webfont.woff2') format('woff2');
   font-weight: 500;
}

@font-face {
   @mixin basier-square;
   src: url('/basier-square-regular-webfont.woff2') format('woff2');
   font-weight: 400;
}

html {
   font-family: 'Basier Square', system-ui, Arial, sans-serif;
   line-height: var(--lh-6);
}

/* Range 475px - 1240px, https://clamp.font-size.app */
:root {
   --hero-font-size: clamp(var(--f-8), 0.8529rem + 4.7059vw, 4.5rem);
   --heading-1-font-size: clamp(var(--f-6), 1.1291rem + 2.0915vw, var(--f-10));
   --heading-2-font-size: clamp(var(--f-4), 0.9869rem + 1.3072vw, var(--f-7));
   --paragraph-font-size: clamp(var(--f-2), 0.8922rem + 0.7843vw, var(--f-5));

   --hero-max: 25ch;
   --paragraph-max: 65ch;

   --hero-margin-y: calc(1.25 * var(--hero-font-size));
   --top-heading-m-bottom: calc(0.5 * var(--heading-1-font-size));

   --next-heading-m-top: calc(2 * var(--paragraph-font-size));
   --next-heading-m-bottom: calc(0.5 * var(--paragraph-font-size));

   --paragraph-m-bottom: calc(1.25 * var(--paragraph-font-size));
   --section-gap: calc(2 * var(--paragraph-m-bottom));
}

@define-mixin heading-common {
   font-weight: 700;
   line-height: var(--lh-normal);
   color: var(--accent);
}

@define-mixin paragraph-common {
   font-size: var(--paragraph-font-size);
   max-width: var(--paragraph-max);
}

.G_Hero_Title {
   font-weight: 700;
   font-size: var(--hero-font-size);
   line-height: var(--lh-3);
   margin: var(--hero-margin-y) 0;
   max-width: var(--hero-max);

   & span {
      color: var(--accent);
   }
}

.G_Title {
   @mixin heading-common;
   font-size: var(--heading-1-font-size);
   margin-bottom: var(--top-heading-m-bottom);
}

.G_Title_2 {
   @mixin heading-common;
   font-size: var(--heading-2-font-size);
   margin-bottom: var(--next-heading-m-bottom);
}

.G_Caption {
   font-weight: 400;
   font-size: var(--s-09);
   text-transform: uppercase;
   color: var(--accent);
   margin-bottom: var(--s-05);
}

@define-mixin paragraph-links {
   color: var(--fg);
   position: relative;
   display: inline-flex;
   text-decoration: underline;

   &::after {
      content: '';
      background-color: var(--accent);
      bottom: 0.1em;
      left: -0.1em;
      right: -0.1em;
      opacity: var(--o-1);
      position: absolute;
      height: 1.25em;
      transform: scaleY(0.5);
      border-radius: 0.25em;
      z-index: var(--z-behind);
      transform-origin: bottom;
      transition:
         transform var(--easing),
         background-color var(--easing);
   }

   @media (hover: hover) {
      &:hover {
         &::after {
            transform: scaleY(1);
         }
      }
   }
}

.G_Paragraphs {
   @mixin paragraph-common;

   display: flex;
   flex-direction: column;
   gap: var(--paragraph-m-bottom);

   & a {
      @mixin paragraph-links;
   }
}

.G_Prose {
   width: 100%;

   & h2 {
      @mixin heading-common;
      font-size: var(--heading-2-font-size);
      margin-bottom: var(--next-heading-m-bottom);
   }

   & p {
      @mixin paragraph-common;
      margin-bottom: var(--paragraph-m-bottom);

      /* Remove margin from next p */
      & + p {
         margin-top: 0;
      }

      /* Remove margin last p before h2 */
      &:has(+ h2) {
         margin-bottom: 0;
      }

      /* Add margin to next h2 */
      & + h2 {
         margin-top: var(--next-heading-m-top);
      }

      /* Add margin to next img */
      & + img {
         margin-bottom: var(--paragraph-m-bottom);
      }

      & a {
         @mixin paragraph-links;
      }

      &:last-of-type {
         margin-bottom: 0;
      }
   }

   & img {
      width: 100%;
      height: auto;
      border-radius: var(--r-3);
      position: relative;
      z-index: 1;
      max-width: 840px;
      border-left: 5px solid var(--accent);

      @media (--mobile-to) {
         width: 100vw;
         margin-left: calc(-1 * var(--page-margin));
         border-radius: 0;
         height: 90vw;
         object-fit: cover;
         border-left: none;
         border-top: 2px solid var(--accent);
      }

      @media (--desktop-from) {
         max-width: 920px;
      }

      @media (hover: hover) {
         opacity: 0.9;
         transition: opacity var(--easing);

         @media (hover: hover) {
            &:hover {
               opacity: 1;
            }
         }
      }
   }
}
