---
import Layout from '@/layouts/Layout.astro'

import { useDato } from '@/lib/utils'

interface CmsData {
   home: {
      seo: {
         title: string
         description: string
      }
   title: string
   sections: {
      title: string
      text: string
   }[]
}
}

const { home } = await useDato<CmsData>(/* GraphQL */ `
         {
            home {
         seo {
            title
            description
         }
               title(markdown: true)
               sections {
                  title
                  text(markdown: true)
               }
            }
         }
`)

function withLinkAttrs(html: string) {
   return html.replace(/<a /g, '<a target="_blank" rel="nofollow noreferrer" ')
}
---

<Layout>
   <article class="Prose">
      <Fragment set:html={data.home.title} />

      {
         data.home.sections.map((s) => (
            <section>
               <h2>{s.title}</h2>
               <div set:html={withLinkAttrs(s.text)} />
            </section>
         ))
      }
   </article>
</Layout>
