---
import IconArrow from './icons/IconArrow.astro'

import { EMAIL } from '@/lib/constants'
---

<a href={'mailto:' + EMAIL} target="_blank"> Get in Touch <IconArrow /> </a>

<style>
   a {
      display: inline-flex;
      align-items: center;
      gap: var(--s-05);
      text-decoration: none;
      color: var(--text);
      font-weight: 500;
      white-space: nowrap;
      font-size: var(--f-2);
      transition: opacity var(--easing);
      margin-bottom: var(--s-4);

      @media (--tablet-to) {
         margin-bottom: var(--s-1);
      }

      & :global(svg) {
         transition: transform var(--easing);
      }

      @media (hover: hover) {
         &:hover {
            opacity: var(--o-3);

            & :global(svg) {
               transform: translateX(var(--s-02));
            }
         }
      }
   }
</style>
