---
import Logo from './Logo.astro'
import MobileMenu from './MobileMenu.astro'
import DarkMode from './DarkMode.astro'

import IconGitHub from './icons/IconGitHub.astro'
import IconEmail from './icons/IconEmail.astro'

import { navLinks } from '@/lib/static'
import { getLinkProps } from '@/lib/utils'
---

<header>
   <a href="/" aria-label="Home">
      <Logo />
   </a>

   <nav class="Nav">
      {
         navLinks.map((l) => (
            <a {...getLinkProps(Astro.url, l.href)}>
               <l.Icon />
               {l.caption}
            </a>
         ))
      }
   </nav>

   <div class="Nav_Right">
      <DarkMode />
      <span></span>
      <a href="https://github.com/smastrom" target="_blank" aria-label="GitHub" title="GitHub">
         <IconGitHub />
      </a>
      <a href="mailto:hello@smastrom.io" target="_blank" aria-label="Email" title="Email">
         <IconEmail />
      </a>
   </div>
</header>

<MobileMenu />

<style>
   header {
      padding: 0 var(--page-margin);
      display: flex;
      height: var(--header-height);
      backdrop-filter: blur(8px);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid var(--divider);
      justify-content: space-between;
      align-items: center;
      z-index: 5;

      @supports not (backdrop-filter: blur(8px)) {
         background-color: var(--bg);
      }

      @media (min-width: 1920px) {
         padding: 0 var(--page-margin);
      }
   }

   .Nav {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 3rem;
      font-weight: 500;

      @media (max-width: 1366px) {
         gap: 2rem;
      }

      @media (max-width: 1100px) {
         display: none;
      }

      & a {
         display: flex;
         align-items: center;
         gap: 0.5rem;
         white-space: nowrap;
         padding: 0.35rem 0.75rem;
         font-size: 1rem;
         line-height: 1;
         border: 1px solid rgba(0, 0, 0, 0);
         transition: all var(--easing);
         user-select: none;

         & :global(svg) {
            width: 1.25em;
            height: 1.25em;
            opacity: 0.75;
         }

         &:hover,
         &[data-active] {
            background-color: var(--bg);
            border: 1px solid var(--divider);
            border-radius: 999px;
         }

         &[data-active] {
            pointer-events: none;

            & :global(svg) {
               color: var(--accent);
            }
         }
      }
   }

   html[data-theme='light'] {
      & .Nav a {
         & :global(svg) {
            stroke-width: 1.75;
            color: currentColor;
            opacity: 0.5;
         }

         &[data-active] {
            pointer-events: none;

            & :global(svg) {
               color: currentColor;
               opacity: 1;
            }
         }
      }
   }

   .Nav_Right {
      --gap: 0.75rem;

      display: flex;
      gap: var(--gap);
      align-items: center;

      @media (min-width: 375px) {
         --gap: 1rem;
      }

      @media (min-width: 390px) {
         --gap: 1.25rem;
      }

      @media (min-width: 1280px) {
         --gap: 1.5rem;
      }

      & span {
         width: 1px;
         align-self: stretch;
         background-color: var(--divider);
      }

      & a {
         --padding: 0.5rem;

         padding: var(--padding);
         margin-right: calc(-1 * var(--padding));
         display: flex;

         & :global(svg) {
            width: var(--header-icon-size);
            height: var(--header-icon-size);
            transition: opacity 100ms linear;
         }

         &:hover {
            & :global(svg) {
               opacity: 0.5;
            }
         }
      }
   }
</style>
