<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor">
   <title>Simone Mastromattei</title>
   <path
      d="m17.5,2.388a2.135,2.135 0 0 1 1.066,0.286l12.767,7.371a2.56,2.56 0 0 1 1.279,2.216l0,14.5a2.559,2.559 0 0 1 -1.279,2.216l-12.554,7.248a2.558,2.558 0 0 1 -1.279,0.343a2.556,2.556 0 0 1 -1.279,-0.343l-12.554,-7.248a2.557,2.557 0 0 1 -1.279,-2.216l0,-14.5a2.558,2.558 0 0 1 1.279,-2.216l12.767,-7.371a2.131,2.131 0 0 1 1.066,-0.286m0,-2.388a4.529,4.529 0 0 0 -2.26,0.605l-12.767,7.371a4.958,4.958 0 0 0 -2.473,4.284l0,14.5a4.96,4.96 0 0 0 2.473,4.284l12.554,7.248a4.954,4.954 0 0 0 2.473,0.663a4.958,4.958 0 0 0 2.473,-0.663l12.554,-7.248a4.962,4.962 0 0 0 2.473,-4.284l0,-14.5a4.96,4.96 0 0 0 -2.473,-4.284l-12.767,-7.371a4.532,4.532 0 0 0 -2.26,-0.605z"
   ></path>
   <path
      d="m26.646,14.31l-10.766,-6.215a0.511,0.511 0 0 1 0,-0.886l1.406,-0.812a0.428,0.428 0 0 1 0.426,0l11.063,6.388a0.51,0.51 0 0 1 0.256,0.443l0,12.726a0.51,0.51 0 0 1 -0.256,0.443l-1.363,0.787a0.512,0.512 0 0 1 -0.768,-0.443l0.002,-12.431z"
   ></path>
   <path
      d="m5.965,25.954l0,-4.985a0.512,0.512 0 0 1 0.768,-0.443l1.363,0.787a0.51,0.51 0 0 1 0.256,0.443l0,3.116l6.476,3.739l0,-7.48l-8.606,-4.968a0.512,0.512 0 0 1 -0.256,-0.443l0,-2.493a0.512,0.512 0 0 1 0.256,-0.443l5.112,-2.952a0.512,0.512 0 0 1 0.512,0l11.021,6.363a0.512,0.512 0 0 1 0.256,0.443l0,12.726a0.512,0.512 0 0 1 -0.256,0.443l-1.364,0.787a0.511,0.511 0 0 1 -0.767,-0.443l0,-12.43l-9.147,-5.28l-3.524,2.033l8.721,5.034a0.854,0.854 0 0 1 0.426,0.739l0,11.61a0.512,0.512 0 0 1 -0.768,0.443l-10.226,-5.9a0.512,0.512 0 0 1 -0.253,-0.446z"
   ></path>
</svg>
