---
import { navLinks } from '@/lib/static'
import { getLinkProps } from '@/lib/utils'

const hamburgerClasses = ['hamburger', 'hamburger--stand'] // src/styles/hamburger.css
---

<nav class="Wrapper">
   <div class="Panel" style="visibility: hidden" id="panel">
      {
         navLinks.map((l) => (
            <a {...getLinkProps(Astro.url, l.href)}>
               <l.Icon />
               {l.caption}
            </a>
         ))
      }
   </div>

   <button
      class:list={['Hamburger_Button', hamburgerClasses]}
      type="button"
      aria-label="Menu"
      aria-expanded="false"
      aria-controls="panel"
      id="hamburger"
   >
      <span class="hamburger-box">
         <span class="hamburger-inner"></span>
      </span>
   </button>
</nav>

<noscript>
   <style>
      #hamburger {
         display: none;
      }

      #panel {
         visibility: visible !important;
         position: fixed;
         opacity: 1;
         transform: translateX(0);
         top: calc(var(--header-height) + var(--s-1));
         bottom: unset;
         right: -2px;
      }
   </style>
</noscript>

<script>
   function init() {
      const panel = document.querySelector('.Panel') as HTMLElement
      const hamburger = document.querySelector('.Hamburger_Button') as HTMLElement

      let isMenuOpen = false

      let scrollStart = window.scrollY
      let scrolledDistance = 0

      function onClick() {
         isMenuOpen = !isMenuOpen

         if (isMenuOpen) {
            this.classList.add('is-active')
            this.ariaExpanded = 'true'

            panel.style.visibility = 'visible'
            requestAnimationFrame(() => {
               panel.style.transform = 'translateX(0)'
            })

            scrollStart = window.scrollY
         } else {
            this.classList.remove('is-active')
            this.ariaExpanded = 'false'

            panel.style.transform = 'translateX(100%)'
         }
      }

      function onScroll() {
         if (!isMenuOpen) return

         scrolledDistance = window.scrollY

         if (Math.abs(scrollStart - scrolledDistance) > 80) {
            panel.style.transform = 'translateX(100%)'
            hamburger.classList.remove('is-active')
         }
      }

      function onTransitionEnd(e: TransitionEvent) {
         if (e.target !== this) return
         if (e.propertyName !== 'transform') return

         this.style.visibility = isMenuOpen ? 'visible' : 'hidden'
      }

      hamburger.addEventListener('click', onClick)
      panel.addEventListener('transitionend', onTransitionEnd)
      document.addEventListener('scroll', onScroll, { passive: true })

      return () => {
         hamburger.removeEventListener('click', onClick)
         panel.removeEventListener('transitionend', onTransitionEnd)
         document.removeEventListener('scroll', onScroll)
      }
   }

   let destroy = init()

   document.addEventListener('astro:after-swap', () => {
      destroy()
      destroy = init()
   })
</script>

<style>
   .Wrapper {
      --border-width: var(--b-1);

      position: fixed;
      bottom: 30%;
      z-index: var(--z-3);
      width: 100%;

      @media (--menu-shift-from) {
         display: none;
      }
   }

   .Panel {
      transform: translateX(100%);
      width: 230px;
      display: flex;
      flex-direction: column;
      border-radius: var(--r-4) 0 0 var(--r-4);
      padding: var(--s-05) 0;
      border: var(--border-width) solid var(--divider);
      background-color: var(--bg-alpha);
      backdrop-filter: blur(var(--s-05));
      margin-bottom: var(--s-1);
      right: -2px;
      position: absolute;
      bottom: var(--s-1);
      transition:
         transform 200ms cubic-bezier(0.22, 1, 0.36, 1),
         background-color var(--easing),
         border-color var(--easing);

      @supports not (backdrop-filter: blur(var(--s-05))) {
         background-color: var(--bg);
      }

      @media (--menu-shift-from) {
         display: none;
      }

      & a {
         display: flex;
         align-items: center;
         line-height: 1;
         font-size: var(--f-1);
         white-space: nowrap;
         padding: var(--s-2) var(--s-2);
         transition: all var(--easing);
         user-select: none;
         gap: var(--s-1);
         opacity: var(--o-3);

         &:hover {
            opacity: 1;
         }

         & :global(svg) {
            width: var(--s-2);
            height: var(--s-2);
         }

         &[data-active] {
            pointer-events: none;
            opacity: 1;

            & :global(svg) {
               opacity: 1;
               color: var(--accent);
            }
         }
      }
   }

   html[data-theme='light'] {
      & .Links a:hover {
         & :global(svg) {
            color: var(--accent);
         }
      }
   }

   .Hamburger_Button {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      right: calc(-1 * var(--border-width));
      padding: var(--s-2) calc(2 * var(--page-margin)) var(--s-2) var(--s-2);
      border: var(--border-width) solid var(--divider);
      border-radius: var(--r-max) 0 0 var(--r-max);
      transition: all var(--easing);
      backdrop-filter: blur(var(--s-05));

      @supports not (backdrop-filter: blur(var(--s-05))) {
         background-color: var(--bg);
      }

      & :global(svg) {
         width: var(--s-3);
         height: var(--s-3);
      }
   }
</style>
