---
import IconStar from '@/components/icons/IconStar.astro'
import IconDownloads from '@/components/icons/IconDownloads.astro'
import IconGlobe from '@/components/icons/IconGlobe.astro'
import IconGitHub from '@/components/icons/IconGitHub.astro'
import IconNpm from '@/components/icons/IconNpm.astro'

import { formatNumber, formatDate, getExtLinkAttrs } from '@/lib/utils'

import type { Package } from '@/lib/fetch-packages'

import '@/styles/tilt.css'

const { project: p } = Astro.props as { project: Package }
---

<li class="Card">
   {Array.from({ length: 7 }).map(() => <div class="G_Tilt_Square" aria-hidden="true" />)}

   <section class="Card_Content G_Tilt_Content">
      <div>
         <h2>{p.title}</h2>
         <p class="Subtitle">{p.description}</p>
      </div>

      <div class="Bottom">
         <div class="Stats">
            <div class="Icon_Box">
               <IconStar />
               {formatNumber(p.stargazers_count)}
               <span class="G_SR_Only">stars</span>
            </div>

            <div class="Icon_Box">
               <IconDownloads />
               {formatNumber(p.downloads)}
               <span class="G_SR_Only">downloads</span>
            </div>
         </div>

         <nav class="Right_Nav">
            {
               p.demo_url && (
                  <a {...getExtLinkAttrs(p.demo_url, 'Demo Website')}>
                     <IconGlobe />
                  </a>
               )
            }

            <a {...getExtLinkAttrs(p.github_url, 'GitHub Repository')}>
               <IconGitHub />
            </a>

            <a {...getExtLinkAttrs(p.npm_url, 'NPM Package')}>
               <IconNpm />
            </a>
         </nav>
      </div>
   </section>
</li>

<style>
   .Card {
      width: 100%;
      position: relative;
      height: 200px;
   }

   html[data-theme='light'] .Card_Content {
      background: transparent;
      box-shadow: 0 0 0 2px var(--divider-light);
      backdrop-filter: blur(var(--s-05));

      &:hover {
         box-shadow: 0 0 0 2px var(--accent);
      }
   }

   .Card_Content {
      padding: var(--s-2);
      border-radius: var(--r-3);
      box-shadow: 0 0 0 var(--b-1) var(--divider-light);
      user-select: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      background: rgba(255, 255, 255, 0.035);
      backdrop-filter: blur(10px);
      transition:
         transform 500ms linear,
         transform-origin 500ms linear,
         box-shadow var(--easing),
         background-color var(--easing);

      &:hover {
         box-shadow: 0 0 0 var(--b-1) var(--accent);
      }

      @media (--tablet-to) {
         background-color: var(--bg-elv-darker);
         backdrop-filter: none;
      }

      & h2 {
         font-size: var(--f-3);
         font-weight: 700;
         line-height: 1;
         margin-bottom: var(--s-1);

         @media (--tablet-to) {
            font-size: var(--f-2);
         }
      }

      & .Subtitle {
         font-size: var(--f-1);
         margin-bottom: var(--s-2);
      }

      & .Divider {
         width: 100%;
         height: var(--b-1);
         background-color: var(--divider-light);
         display: block;
         margin: var(--s-2) 0;
         transition: background-color var(--easing);
      }

      & .Bottom {
         display: flex;
         align-items: center;
         justify-content: space-between;
         flex-wrap: wrap;
         gap: var(--s-3);
      }

      & .Stats {
         display: flex;
         align-items: center;
         gap: var(--s-3);

         @media (--tablet-to) {
            gap: var(--s-1);
         }
      }

      & .Icon_Box {
         display: flex;
         align-items: center;
         gap: var(--s-05);
         font-size: var(--f-09);
         font-weight: 500;
         transition: color var(--easing);

         & :global(svg) {
            width: var(--s-2);
            height: var(--s-2);
            color: var(--accent);
            transition: all var(--easing);
         }
      }

      .Right_Nav {
         display: flex;
         align-items: center;
         gap: var(--s-1);

         & a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--s-02);
            border-radius: var(--r-2);
            height: 100%;
            border: var(--b-1) solid var(--divider);
            background-color: var(--bg-elv);
            cursor: pointer;
            transition:
               background-color var(--easing),
               border-color var(--easing);

            & :global(svg) {
               transition: color var(--easing);
               width: 1.5rem;
               height: 1.5rem;
            }

            &:hover {
               & :global(svg) {
                  color: var(--accent);
               }
            }
         }
      }
   }
</style>
