---
import IconStar from '@/components/icons/IconStar.astro'
import IconDownloads from '@/components/icons/IconDownloads.astro'
import IconDemo from '@/components/icons/demo.svg'
import IconGitHub from '@/components/icons/IconGitHub.astro'
import IconNpm from '@/components/icons/IconNpm.astro'

import NpmLogo from '@/components/icons/npm.svg'
import AppleLogo from '@/components/icons/apple.svg'

import { formatDownloadNumber, getExtLinkAttrs, stripEmoji } from '@/lib/utils'

import type { ProjectPackage } from '@/lib/types'

import '@/styles/tilt.css'

const { project: p } = Astro.props as { project: ProjectPackage }
---

<li class="ProjectCard">
   {Array.from({ length: 7 }).map(() => <div class="g-tilt-square" aria-hidden="true" />)}

   <section class="ProjectCard-content g-tilt-content">
      <div>
         <div class="ProjectCard-header">
            {p.type === 'npm' && <NpmLogo class="ProjectCard-npm-logo" aria-hidden="true" />}

            {p.type === 'mac' && <AppleLogo class="ProjectCard-apple-logo" aria-hidden="true" />}

            <h2>{p.title}</h2>
         </div>
         <p class="ProjectCard-subtitle">{stripEmoji(p.description)}</p>
      </div>

      <div class="ProjectCard-footer">
         <div class="ProjectCard-stats">
            <div class="ProjectCard-stat">
               <IconStar />
               {formatDownloadNumber(p.stargazers_count)}
               <span class="g-sr-only">stars</span>
            </div>

            <div class="ProjectCard-stat">
               <IconDownloads />
               {formatDownloadNumber(p.total_downloads)}
               <span class="g-sr-only">downloads</span>
            </div>
         </div>

         <nav class="ProjectCard-links">
            {
               p.demo_url && (
                  <a {...getExtLinkAttrs(p.demo_url, 'View website')}>
                     <IconDemo />
                  </a>
               )
            }

            <a {...getExtLinkAttrs(p.github_url, 'View on GitHub')}>
               <IconGitHub />
            </a>

            {
               p.type === 'npm' && (
                  <a {...getExtLinkAttrs(p.npm_url, 'View on NPM')}>
                     <IconNpm />
                  </a>
               )
            }
         </nav>
      </div>
   </section>
</li>

<style>
   .ProjectCard {
      width: 100%;
      position: relative;
      height: 200px;
   }

   .ProjectCard-content {
      padding: var(--s-3);
      border-radius: var(--r-3);
      box-shadow: 0 0 0 var(--b-1) var(--divider-light);
      user-select: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      background-color: var(--bg-alpha);
      backdrop-filter: blur(10px);
      transition:
         transform 500ms linear,
         transform-origin 500ms linear,
         box-shadow var(--easing),
         background-color var(--easing);

      @media (hover: hover) {
         &:hover {
            box-shadow: 0 0 0 var(--b-1) var(--accent);
         }
      }

      @media (--tablet-to) {
         backdrop-filter: none;
      }

      @media (--mobile-to) {
         padding: var(--s-2);
      }

      .ProjectCard-header {
         display: flex;
         align-items: center;
         gap: var(--s-1);
         margin-bottom: var(--s-2);

         & h2 {
            font-size: var(--f-3);
            font-weight: 700;
            line-height: 1;

            @media (--tablet-to) {
               font-size: var(--f-2);
            }
         }

         & :global(svg.ProjectCard-npm-logo) {
            width: 40px;
            height: auto;
            color: var(--accent);

            @media (--tablet-to) {
               width: 30px;
            }
         }

         & :global(svg.ProjectCard-apple-logo) {
            width: 1rem;
            height: auto;
            color: var(--accent);
         }
      }

      & .ProjectCard-subtitle {
         font-size: var(--f-1);
         margin-bottom: var(--s-2);
      }

      & .ProjectCard-divider {
         width: 100%;
         height: var(--b-1);
         background-color: var(--divider-light);
         display: block;
         margin: var(--s-2) 0;
         transition: background-color var(--easing);
      }

      & .ProjectCard-footer {
         display: flex;
         align-items: center;
         justify-content: space-between;
         flex-wrap: wrap;
         gap: var(--s-3);
      }

      & .ProjectCard-stats {
         display: flex;
         align-items: center;
         gap: var(--s-4);

         @media (--tablet-to) {
            gap: var(--s-1);
         }
      }

      & .ProjectCard-stat {
         display: flex;
         align-items: center;
         gap: var(--s-02);
         font-size: var(--f-09);
         font-weight: 500;
         transition: color var(--easing);

         & :global(svg) {
            width: var(--s-2);
            height: var(--s-2);
            color: var(--accent);
            transition: all var(--easing);
         }
      }

      .ProjectCard-links {
         display: flex;
         align-items: center;
         gap: var(--s-1);

         & a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--s-05);
            border-radius: var(--r-2);
            height: 100%;
            border: var(--b-1) solid var(--divider);
            background-color: var(--bg-elv);
            cursor: pointer;
            transition:
               background-color var(--easing),
               border-color var(--easing);

            & :global(svg) {
               transition: color var(--easing);
               width: 1.125rem;
               height: 1.125rem;
            }

            @media (hover: hover) {
               &:hover {
                  & :global(svg) {
                     color: var(--accent);
                  }
               }
            }
         }
      }
   }
</style>
