---
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import Background from '@/components/Background.astro'

import { useDato } from '@/lib/utils'

import type { CmsLayout } from '@/lib/types'

import '@/styles/reset.css'
import '@/styles/colors.css'
import '@/styles/fonts.css'
import '@/styles/layout.css'
import '@/styles/prose.css'
import '@/styles/hamburger.css'
import '@/styles/classes.css'

const { isArticleLayout } = Astro.props as { isArticleLayout?: boolean }

const { data, error } = await useDato<CmsLayout>(/* GraphQL */ `
   {
      _site {
         globalSeo {
            fallbackSeo {
               title
               description
            }
         }
      }
      layout {
         footerText(markdown: true)
      }
   }
`)

if (error) throw new Error(error)

const { fallbackSeo } = data._site.globalSeo

const { title = fallbackSeo.title, description = fallbackSeo.description } = Astro.props as {
   title: string
   description: string
}
---

<!doctype html>
<html lang="en" dir="ltr" data-theme="auto" class="Transitions">
   <Head {title} {description} />

   <body>
      <a href="#main" class="SR_Only">Skip to main content</a>

      <Header />

      <main id="main">
         <slot />
         <Background />
      </main>

      <Footer content={data.layout.footerText} isCentered={isArticleLayout} />
   </body>
</html>
